/* body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,75,1) 46%, rgba(0,212,255,1) 100%);
} */
.logout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 30px;
}

.logout button{
    background: red;
    width: auto;
    padding: 9px;
    border: none;
    outline: none;
    margin: 10px;

}
h1,h2{
    color: white;
    text-align: center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main button{
    background-color: gray;
    margin: 20px;
    border: none;
    width: auto;
    font-size: 26px;
    padding: 13px;
    letter-spacing: 8px;
    color: white;
}
span{
    color: white;
    font-size: 22px;
}